
.game-container {
    // background-color: red;
    padding-top: 4em;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.card {
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1em;
    width: 45%;
    height: 20em;
    text-align: center;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size:cover;  
}

.word {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 3em;
    margin: 0;
}

.sentence {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    width: 85%;
}

.meaning {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 3em;
    margin: 0;
    color: white;
}

.strong {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    width: 85%;
    color: white;
}

.control {
    background-color: #585353;
    width: 2.5em;
    height: 10em;
    margin: 0 1em;
    border-radius: 8px;
    cursor: pointer;
}

.disabled-control {
    background-color: #2E2E2E;
    width: 2.5em;
    height: 10em;
    margin: 0 1em;
    border-radius: 8px;
    cursor: pointer;
}

.control:hover {
    background-color: #747474;
}

@media (max-width: 750px) {
 .card {
     width: 85%;
 }
}