<div class="game-container">
    <div *ngIf="activeCard" (click)="swapCard(-1)" class="control">

    </div>
  <div
    class="card"
    [style.backgroundImage]="showImage && !turnAround ? 'url(' + deck[activeCard].image + ')' : ''"
    [style.backgroundColor]="turnAround ? '#636060' : showColor ? deck[activeCard].color : 'white'"
    (click)="handleTurnAround()"
  >
      <p *ngIf="!turnAround" class="word">{{ deck[activeCard][activeLanguage] }}</p>
      <p *ngIf="!turnAround && showSentence" class="sentence">{{ deck[activeCard].sentence }}</p>
      <p *ngIf="turnAround" class="meaning">{{ activeLanguage === 'russian' ? deck[activeCard].english : deck[activeCard].russian }}</p>
  </div>
  <div *ngIf="activeCard < (deck.length - 1)" (click)="swapCard(1)" class="control">

  </div>
</div>